.reviews {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.reviewCard {
  margin-top: 5px;
  background-color: rgb(138, 150, 208);
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.skills {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.skills li {
  background-color: rgb(83, 83, 138);
  padding: 5px;
  margin: 2px;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 5px;
}

h4 {
  color: whitesmoke;
  font-weight: 900;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}

h4:first-letter {
  text-transform: uppercase;
  font-size: 2rem;
}

.skills h5 {
  color: whitesmoke;
  font-weight: 900;
  margin-bottom: 10px;
}

.icons {
  font-size: 1.3rem;
  color: black;
  background-color: rgba(207, 203, 203, 0.5);
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.icons:hover {
  color: rgb(185, 233, 220);
  background-color: rgba(207, 203, 203, 0.9);
}
