@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

button {
  background-color: rgba(0, 0, 0, 0.85) !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  color: white !important;
}

input,
textarea {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid gray !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-spin {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.ant-btn-dashed {
  background: white !important;
  color: black !important;
  border: 1px dashed gray !important;
  width: 200px !important;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: gray;
}

.back-btn {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}
