.authenticationParent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000c40,
    #f0f2f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000c40,
    #f0f2f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  width: 100%;
}

.authenticationParent h1 {
  font-size: 22px;
  font-weight: bold;
}

.authenticationParent form {
  width: 400px;
  box-shadow: 0 0 3px gray;
  padding: 20px;
  background-color: white !important;
  z-index: 1;
  padding: 60px 30px;
  opacity: 0.85;
}

.brand {
  font-size: 130px !important;
  position: absolute;
  top: 5%;
  width: 100%;
  left: 0;
  text-align: center;
  color: white;
}

.button {
  
  background: transparent;
  background-color: #000c40 !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  color: white !important;
  border-radius: 2px;
  padding: 10px 25px;
 
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  width: 130px;
  height: 40px;

  outline: none;
}


.button:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

/* Start here */
.button:hover {
  background-color: #e5eafa !important;
  color: black !important;
  border-radius: 15px;
  border: 1px solid #000c40 !important;
  font-weight: bold;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  border: none;
  animation: pulse-animation 2s infinite;
}

.button:hover {
  animation: none;
}
