.updateProfile h4,
label,
h5,
.ant-tabs-tab {
  color: #000c40 !important;
}

.updateButton {
  background-color: #000c40 !important;
  color: white !important;
}

/*  start here */
.updateButton:hover {
  background-color: #424c79 !important;
  color: white !important;
  border-radius: 15px;
  border: 2px solid #000c40 !important;
  font-weight: bold;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.updateButton {
  border: none;
  animation: pulse-animation 2s infinite;
}

.updateButton:hover {
  animation: none;
}

.primaryBtn {
    background-color: #000c40 !important;
    color: white !important;
    border: none !important;
    border-radius: 2px;
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

.updateButton {
    padding: 10px 25px;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;
  }
  
  
.primaryBtn:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
  